body {
    font-family: 'Kodchasan', sans-serif;
}

.carousel-item {
    background: #1D1D1D 70%;
}

.carousel-item img {
    background-size: cover;
    opacity: 0.25;
}

.carousel-caption {
    opacity: 1;
    height: 60vh;
}

.carousel-indicators{
    display: none;
}

@media only screen and (max-width:768px) {
    .carousel-caption {
        height: auto !important;
    }

    .carsl-para {
        font-size: 12px !important;
    }

    .carsl-button {
        padding: 10px 15px !important;
    }

    .carsl-heading {
        font-size: 24px !important;
    }
}