/* For font */
body {
    font-family: 'Kodchasan', sans-serif;
}

/* for Carousel */
.carousel-item {
    background: #1D1D1D 70%;
}

.carousel-item img {
    background-size: cover;
    opacity: 0.25;
}

.carousel-caption {
    opacity: 1;
    height: 60vh;
}

.carousel-indicators {
    display: none;
}

/* Carousel caption Responsiveness in extra small device  */
@media only screen and (max-width:575px) {
    .carousel-caption {
        height: auto !important;
    }

    .carsl-para {
        font-size: 1vh !important;
    }

    .carsl-button {
        padding: 2px 3px !important;
    }

    .carsl-heading {
        font-size: 1.5vh !important;
    }
}

/* Carousel caption Responsiveness in small and medium device  */
@media only screen and (min-width:576px) and (max-width:992px) {
    .carousel-caption {
        height: auto !important;
    }

    .carsl-para {
        font-size: 12px !important;
    }

    .carsl-button {
        padding: 10px 15px !important;
    }

    .carsl-heading {
        font-size: 24px !important;
    }
}